@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Roboto+Slab:wght@100;300;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 23 22% 93%;
        --foreground: 16 22% 10%;
        --card: 23 22% 93%;
        --card-foreground: 16 22% 10%;
        --popover: 23 22% 93%;
        --popover-foreground: 16 22% 10%;
        --primary: 20 22% 57%;
        --primary-foreground: 16 22% 10%;
        --secondary: 20 21% 89%;
        --secondary-foreground: 16 22% 10%;
        --muted: 22 22% 80%;
        --muted-foreground: 16 22% 90%;
        --accent: 21 22% 49%;
        --accent-foreground: 16 22% 10%;
        --destructive: 0 85% 60%;
        --destructive-foreground: 16 22% 10%;
        --border: 22 22% 20%;
        --input: 22 22% 20%;
        --ring: 20 22% 40%;
        --radius: 0.5rem;
    }

    .dark {
        --background: 23 22% 7%;
        --foreground: 16 22% 90%;
        --card: 23 22% 7%;
        --card-foreground: 16 22% 90%;
        --popover: 23 22% 7%;
        --popover-foreground: 16 22% 90%;
        --primary: 20 22% 43%;
        --primary-foreground: 23 22% 7%;
        --secondary: 20 21% 11%;
        --secondary-foreground: 16 22% 90%;
        --muted: 22 22% 20%;
        --muted-foreground: 16 22% 70%;
        --accent: 21 22% 51%;
        --accent-foreground: 23 22% 7%;
        --destructive: 0 62% 30%;
        --destructive-foreground: 16 22% 10%;
        --border: 23 22% 60%;
        --input: 22 22% 80%;
        --ring: 20 22% 60%;
    }

    @media (prefers-color-scheme: dark) {
        .system {
            --background: 23 22% 7%;
            --foreground: 16 22% 90%;
            --card: 23 22% 7%;
            --card-foreground: 16 22% 90%;
            --popover: 23 22% 7%;
            --popover-foreground: 16 22% 90%;
            --primary: 20 22% 43%;
            --primary-foreground: 23 22% 7%;
            --secondary: 20 21% 11%;
            --secondary-foreground: 16 22% 90%;
            --muted: 22 22% 20%;
            --muted-foreground: 16 22% 70%;
            --accent: 21 22% 51%;
            --accent-foreground: 23 22% 7%;
            --destructive: 0 62% 30%;
            --destructive-foreground: 16 22% 10%;
            --border: 23 22% 60%;
            --input: 22 22% 80%;
            --ring: 20 22% 60%;
        }
    }
}

@media only screen and (prefers-reduced-motion: reduce) {
    *,
    ::before,
    ::after {
        animation-duration: 0.01ms !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
        animation-iteration-count: 1 !important;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    *::-webkit-scrollbar {
        @apply w-2;
    }

    *::-webkit-scrollbar-track {
        @apply bg-accent/50;
    }

    *::-webkit-scrollbar-thumb {
        @apply rounded-full bg-accent active:bg-accent/80;
    }

    html {
        font-size: 16px;
        -webkit-text-size-adjust: 100%;
        text-rendering: optimizeSpeed;

        font-synthesis: none;
        font-family: "Roboto Slab", system-ui, sans-serif;
    }

    body {
        @apply bg-background text-foreground min-h-screen;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply hyphens-auto mb-1;
    }

    button,
    a {
        @apply active:opacity-80 text-sm inline-flex justify-center items-center px-4 py-2 font-bold tracking-wide will-change-colors focus-visible:ring-ring focus-visible:ring-2 focus-visible:ring-offset-background focus-visible:ring-offset-2 disabled:cursor-default disabled:opacity-50;
    }

    img {
        @apply w-full max-w-full h-full max-h-full object-contain;
    }

    main {
        @apply py-8;
    }

    .solid svg {
        @apply w-5 h-5;
    }

    .outline svg {
        @apply w-6 h-6;
    }

    .solid #theme-dropdown svg:not(.own-width),
    .solid #filter-dropdown svg:not(.own-width),
    .solid #slideshow svg:not(.own-width),
    .solid #video-player svg:not(.own-width) {
        @apply w-6 h-6;
    }
}

dialog::backdrop {
    background-color: hsl(23 22% 93% / 0.875);
}

.dark dialog::backdrop {
    background-color: hsl(23 22% 7% / 0.875);
}

@media (prefers-color-scheme: dark) {
    .system dialog::backdrop {
        background-color: hsl(23 22% 7% / 0.875);
    }
}

@layer components {
    .painting-grid {
        grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
        grid-auto-flow: row dense;

        gap: 2rem;

        grid-auto-rows: 10rem;
    }

    .animate-shimmer {
        background-image: linear-gradient(
            90deg,
            hsl(var(--muted) / 0) 0,
            hsl(var(--muted) / 0.075) 20%,
            hsl(var(--muted) / 0.25) 60%,
            hsl(var(--muted) / 0)
        );

        transform: translateX(-125%);
    }
}

@layer utilities {
    [hidden] {
        display: none;
    }

    #section-of-artworks::-webkit-scrollbar {
        @apply w-0 !important;
    }

    h1,
    .h1 {
        @apply text-4xl md:text-5xl xl:text-6xl;
    }

    h2,
    .h2 {
        @apply text-3xl md:text-4xl xl:text-5xl;
    }

    h3,
    .h3 {
        @apply text-2xl md:text-3xl xl:text-4xl;
    }

    h4,
    .h4 {
        @apply text-xl md:text-2xl xl:text-3xl;
    }

    h5,
    .h5 {
        @apply text-lg md:text-xl xl:text-2xl;
    }

    h6,
    .h6 {
        @apply md:text-lg xl:text-xl;
    }
}
